<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestpay.posp.system.dao.TInfoNonSecretParaDao" >

  <resultMap id="BaseResultMap" type="com.bestpay.posp.system.entity.TInfoNonSecretPara" >
	    <result column="NON_CONTACT_SWITCH" property="nonContactSwitch" jdbcType="CHAR" />
	    <result column="QUICK_REPAIT_TIME" property="quickRepaitTime" jdbcType="CHAR" />
	    <result column="QUICK_RECORD_TIME" property="quickRecordTime" jdbcType="CHAR" />
	    <result column="QPS_NON_SECRET_AMOUNT" property="qpsNonSecretAmount" jdbcType="CHAR" />
	    <result column="QPS_NON_SECRET_LABEL" property="qpsNonSecretLabel" jdbcType="CHAR" />
	    <result column="BIN_A_LABEL" property="binALabel" jdbcType="CHAR" />
	    <result column="BIN_B_LABEL" property="binBLabel" jdbcType="CHAR" />
	    <result column="CDCVM_LABEL" property="cdcvmLabel" jdbcType="CHAR" />
	    <result column="NON_SIGN_LIMIT" property="nonSignLimit" jdbcType="CHAR" />
	    <result column="NON_SIGN_LABEL" property="nonSignLabel" jdbcType="CHAR" />
	    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
	NON_CONTACT_SWITCH,QUICK_REPAIT_TIME,QUICK_RECORD_TIME,QPS_NON_SECRET_AMOUNT,QPS_NON_SECRET_LABEL,BIN_A_LABEL,BIN_B_LABEL,CDCVM_LABEL,NON_SIGN_LIMIT,NON_SIGN_LABEL,UPDATE_TIME
  </sql>
  
  <select id="findById" parameterType="java.lang.Long"  resultMap="BaseResultMap" >
  	  select 
  	  	<include refid="Base_Column_List"/>
  	  from T_INFO_NON_SECRET_PARA where PROVIDE_IDENTIFY = #{id}
  </select>
  
  <select id="findUnique" parameterType="com.bestpay.posp.system.entity.TInfoNonSecretPara" resultMap="BaseResultMap">
  		select 
  			<include refid="Base_Column_List"/>
  		from T_INFO_NON_SECRET_PARA
  		where 1=1 
  		
  		<if test="nonContactSwitch != null">
  			and NON_CONTACT_SWITCH = #{nonContactSwitch}
  		</if>
  		<if test="quickRepaitTime != null">
  			and QUICK_REPAIT_TIME = #{quickRepaitTime}
  		</if>
  		<if test="quickRecordTime != null">
  			and QUICK_RECORD_TIME = #{quickRecordTime}
  		</if>
  		<if test="qpsNonSecretAmount != null">
  			and QPS_NON_SECRET_AMOUNT = #{qpsNonSecretAmount}
  		</if>
  		<if test="qpsNonSecretLabel != null">
  			and QPS_NON_SECRET_LABEL = #{qpsNonSecretLabel}
  		</if>
  		<if test="binALabel != null">
  			and BIN_A_LABEL = #{binALabel}
  		</if>
  		<if test="binBLabel != null">
  			and BIN_B_LABEL = #{binBLabel}
  		</if>
  		<if test="cdcvmLabel != null">
  			and CDCVM_LABEL = #{cdcvmLabel}
  		</if>
  		<if test="nonSignLimit != null">
  			and NON_SIGN_LIMIT = #{nonSignLimit}
  		</if>
  		<if test="nonSignLabel != null">
  			and NON_SIGN_LABEL = #{nonSignLabel}
  		</if>
  		<if test="updateTime != null">
  			and UPDATE_TIME = #{updateTime}
  		</if>
  		 
  </select>
  
  <select id="find" parameterType="com.bestpay.posp.system.entity.TInfoNonSecretPara" resultMap="BaseResultMap">
  		select 
  			<include refid="Base_Column_List"/>
  		from T_INFO_NON_SECRET_PARA
  		where 1=1 
  		<if test="nonContactSwitch != null">
  			and NON_CONTACT_SWITCH = #{nonContactSwitch}
  		</if>
  		<if test="quickRepaitTime != null">
  			and QUICK_REPAIT_TIME = #{quickRepaitTime}
  		</if>
  		<if test="quickRecordTime != null">
  			and QUICK_RECORD_TIME = #{quickRecordTime}
  		</if>
  		<if test="qpsNonSecretAmount != null">
  			and QPS_NON_SECRET_AMOUNT = #{qpsNonSecretAmount}
  		</if>
  		<if test="QPS_NON_SECRET_LABEL != null">
  			and QPS_NON_SECRET_LABEL = #{QPS_NON_SECRET_LABEL}
  		</if>
  		<if test="binALabel != null">
  			and BIN_A_LABEL = #{binALabel}
  		</if>
  		<if test="binBLabel != null">
  			and BIN_B_LABEL = #{binBLabel}
  		</if>
  		<if test="cdcvmLabel != null">
  			and CDCVM_LABEL = #{cdcvmLabel}
  		</if>
  		<if test="nonSignLimit != null">
  			and NON_SIGN_LIMIT = #{nonSignLimit}
  		</if>
	  	<if test="nonSignLabel != null">
		  	and NON_SIGN_LABEL = #{nonSignLabel}
	  	</if>
  		<if test="updateTime != null">
  			and UPDATE_TIME = #{updateTime}
  		</if>
  </select>
  
  <select id="findAll" parameterType="com.bestpay.posp.system.entity.TInfoNonSecretPara" resultMap="BaseResultMap">
  		select 
  			<include refid="Base_Column_List"/>
  		from T_INFO_NON_SECRET_PARA
  </select>
  
  <select id="countBy" parameterType="com.bestpay.posp.system.entity.TInfoNonSecretPara" resultType="java.lang.Integer">
  		select 
  			count(*)
  		from T_INFO_NON_SECRET_PARA
  		where 1=1 
  		<if test="nonContactSwitch != null">
  			and NON_CONTACT_SWITCH = #{nonContactSwitch}
  		</if>
  		<if test="quickRepaitTime != null">
  			and QUICK_REPAIT_TIME = #{quickRepaitTime}
  		</if>
  		<if test="quickRecordTime != null">
  			and QUICK_RECORD_TIME = #{quickRecordTime}
  		</if>
  		<if test="qpsNonSecretAmount != null">
  			and QPS_NON_SECRET_AMOUNT = #{qpsNonSecretAmount}
  		</if>
  		<if test="QPS_NON_SECRET_LABEL != null">
  			and QPS_NON_SECRET_LABEL = #{QPS_NON_SECRET_LABEL}
  		</if>
  		<if test="binALabel != null">
  			and BIN_A_LABEL = #{binALabel}
  		</if>
  		<if test="binBLabel != null">
  			and BIN_B_LABEL = #{binBLabel}
  		</if>
  		<if test="cdcvmLabel != null">
  			and CDCVM_LABEL = #{cdcvmLabel}
  		</if>
  		<if test="nonSignLimit != null">
  			and NON_SIGN_LIMIT = #{nonSignLimit}
  		</if>
	  	<if test="nonSignLabel != null">
		  	and NON_SIGN_LABEL = #{nonSignLabel}
	  	</if>
  		<if test="updateTime != null">
  			and UPDATE_TIME = #{updateTime}
  		</if>
  </select>
  
  <insert id="insert" parameterType="com.bestpay.posp.system.entity.TInfoNonSecretPara">
	 INSERT INTO T_INFO_NON_SECRET_PARA
	   (NON_CONTACT_SWITCH,QUICK_REPAIT_TIME,QUICK_RECORD_TIME,QPS_NON_SECRET_AMOUNT,QPS_NON_SECRET_LABEL,BIN_A_LABEL,BIN_B_LABEL,CDCVM_LABEL,NON_SIGN_LIMIT,NON_SIGN_LABEL,UPDATE_TIME)
     VALUES (
	    #{nonContactSwitch,jdbcType=CHAR},
	    #{quickRepaitTime,jdbcType=CHAR},
	    #{quickRecordTime,jdbcType=CHAR},
	    #{qpsNonSecretAmount,jdbcType=CHAR},
	    #{qpsNonSecretLabel,jdbcType=CHAR},
	    #{binALabel,jdbcType=CHAR},
	    #{binBLabel,jdbcType=CHAR},
	    #{cdcvmLabel,jdbcType=CHAR},
	    #{nonSignLimit,jdbcType=CHAR},
	    #{nonSignLabel,jdbcType=CHAR},
	    #{updateTime,jdbcType=TIMESTAMP}
     ) 
  </insert>
  
  <update id="update" parameterType="com.bestpay.posp.system.entity.TInfoNonSecretPara">
	UPDATE T_INFO_NON_SECRET_PARA SET
	  	<if test="nonContactSwitch != null">
	  		 NON_CONTACT_SWITCH = #{nonContactSwitch,jdbcType=CHAR}
	  	</if>
	  	<if test="quickRepaitTime != null">
	  		, QUICK_REPAIT_TIME = #{quickRepaitTime,jdbcType=CHAR}
	  	</if>
	  	<if test="quickRecordTime != null">
	  		, QUICK_RECORD_TIME = #{quickRecordTime,jdbcType=CHAR}
	  	</if>
	  	<if test="qpsNonSecretAmount != null">
	  		, QPS_NON_SECRET_AMOUNT = #{qpsNonSecretAmount,jdbcType=CHAR}
	  	</if>
	  	<if test="QPS_NON_SECRET_LABEL != null">
	  		, QPS_NON_SECRET_LABEL = #{QPS_NON_SECRET_LABEL,jdbcType=CHAR}
	  	</if>
	  	<if test="binALabel != null">
	  		, BIN_A_LABEL = #{binALabel,jdbcType=CHAR}
	  	</if>
	  	<if test="binBLabel != null">
	  		, BIN_B_LABEL = #{binBLabel,jdbcType=CHAR}
	  	</if>
	  	<if test="cdcvmLabel != null">
	  		, CDCVM_LABEL = #{cdcvmLabel,jdbcType=CHAR}
	  	</if>
	  	<if test="nonSignLimit != null">
	  		, NON_SIGN_LIMIT = #{nonSignLimit,jdbcType=CHAR}
	  	</if>
	  	<if test="nonSignLabel != null">
	  		, NON_SIGN_LABEL = #{nonSignLabel,jdbcType=CHAR}
	  	</if>
	  	<if test="updateTime != null">
	  		, UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
	  	</if>
		WHERE NON_CONTACT_SWITCH = #{nonContactSwitch, jdbcType=DECIMAL}
  </update>

</mapper>