<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestpay.posp.system.dao.TLogTranFlowBatchDao" >

  <resultMap id="BaseResultMap" type="com.bestpay.posp.system.entity.TLogTranFlowBatch" >
	    <result column="SERIAL_NO" property="serialNo" jdbcType="CHAR" />
	    <result column="TRAN_DATE" property="tranDate" jdbcType="CHAR" />
	    <result column="BATCH_NO" property="batchNo" jdbcType="CHAR" />
	    <result column="SEQ_NUM" property="seqNum" jdbcType="VARCHAR" />
	    <result column="TRAN_TIME" property="tranTime" jdbcType="CHAR" />
	    <result column="TRAN_CODE" property="tranCode" jdbcType="CHAR" />
	    <result column="TRAN_TYPE" property="tranType" jdbcType="CHAR" />
	    <result column="SETTLE_FLAG" property="settleFlag" jdbcType="CHAR" />
	    <result column="SETTLE_DATE" property="settleDate" jdbcType="CHAR" />
	    <result column="SETTLE_MODE" property="settleMode" jdbcType="CHAR" />
	    <result column="ORIG_SERIAL_NO" property="origSerialNo" jdbcType="CHAR" />
	    <result column="ORIG_SERIAL_DATE" property="origSerialDate" jdbcType="CHAR" />
	    <result column="ORIG_SERIAL_TIME" property="origSerialTime" jdbcType="CHAR" />
	    <result column="ORIG_TRAN_TYPE" property="origTranType" jdbcType="CHAR" />
	    <result column="TERM_SERIAL_NO" property="termSerialNo" jdbcType="CHAR" />
	    <result column="TERM_DATE" property="termDate" jdbcType="CHAR" />
	    <result column="TERM_TIME" property="termTime" jdbcType="CHAR" />
	    <result column="CUPS_SERIAL_NO" property="cupsSerialNo" jdbcType="VARCHAR" />
	    <result column="CUPS_DATE" property="cupsDate" jdbcType="CHAR" />
	    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
	    <result column="ADD_CARD_NO" property="addCardNo" jdbcType="VARCHAR" />
	    <result column="CARD_TYPE" property="cardType" jdbcType="CHAR" />
	    <result column="CARD_BIN" property="cardBin" jdbcType="VARCHAR" />
	    <result column="TRAN_AMOUNT" property="tranAmount" jdbcType="DECIMAL" />
	    <result column="REMAIN_AMOUNT" property="remainAmount" jdbcType="DECIMAL" />
	    <result column="OTHER_AMOUNT" property="otherAmount" jdbcType="DECIMAL" />
	    <result column="TRAN_FLAG" property="tranFlag" jdbcType="CHAR" />
	    <result column="REFER_NO" property="referNo" jdbcType="VARCHAR" />
	    <result column="AUTH_NO" property="authNo" jdbcType="CHAR" />
	    <result column="AUTH_DATE" property="authDate" jdbcType="CHAR" />
	    <result column="AUTH_AMOUNT" property="authAmount" jdbcType="DECIMAL" />
	    <result column="RCV_BANK_CODE" property="rcvBankCode" jdbcType="VARCHAR" />
	    <result column="RCV_BRANCH_CODE" property="rcvBranchCode" jdbcType="VARCHAR" />
	    <result column="MCC" property="mcc" jdbcType="VARCHAR" />
	    <result column="MERCH_CODE" property="merchCode" jdbcType="VARCHAR" />
	    <result column="TERM_CODE" property="termCode" jdbcType="VARCHAR" />
	    <result column="TERM_FLAG" property="termFlag" jdbcType="CHAR" />
	    <result column="OPER_NO" property="operNo" jdbcType="VARCHAR" />
	    <result column="CHANNEL_TYPE" property="channelType" jdbcType="CHAR" />
	    <result column="INPUT_MODE" property="inputMode" jdbcType="CHAR" />
	    <result column="CONDITION_MODE" property="conditionMode" jdbcType="CHAR" />
	    <result column="CCY_CODE" property="ccyCode" jdbcType="CHAR" />
	    <result column="RESP_CODE" property="respCode" jdbcType="VARCHAR" />
	    <result column="TRAN_STATE" property="tranState" jdbcType="CHAR" />
	    <result column="BATCH_STATE" property="batchState" jdbcType="CHAR" />
	    <result column="BATCH_RESULT" property="batchResult" jdbcType="CHAR" />
	    <result column="TERM_SETTLE_DATE" property="termSettleDate" jdbcType="VARCHAR" />
	    <result column="IP" property="ip" jdbcType="VARCHAR" />
	    <result column="RESERVE" property="reserve" jdbcType="VARCHAR" />
	    <result column="CARD_FLAG" property="cardFlag" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
	SERIAL_NO,TRAN_DATE,BATCH_NO,SEQ_NUM,TRAN_TIME,TRAN_CODE,TRAN_TYPE,SETTLE_FLAG,SETTLE_DATE,SETTLE_MODE,ORIG_SERIAL_NO,ORIG_SERIAL_DATE,ORIG_SERIAL_TIME,ORIG_TRAN_TYPE,TERM_SERIAL_NO,TERM_DATE,TERM_TIME,CUPS_SERIAL_NO,CUPS_DATE,CARD_NO,ADD_CARD_NO,CARD_TYPE,CARD_BIN,TRAN_AMOUNT,REMAIN_AMOUNT,OTHER_AMOUNT,TRAN_FLAG,REFER_NO,AUTH_NO,AUTH_DATE,AUTH_AMOUNT,RCV_BANK_CODE,RCV_BRANCH_CODE,MCC,MERCH_CODE,TERM_CODE,TERM_FLAG,OPER_NO,CHANNEL_TYPE,INPUT_MODE,CONDITION_MODE,CCY_CODE,RESP_CODE,TRAN_STATE,BATCH_STATE,BATCH_RESULT,TERM_SETTLE_DATE,IP,RESERVE,CARD_FLAG
  </sql>
  
  <select id="findById" parameterType="java.lang.Long"  resultMap="BaseResultMap" >
  	  select 
  	  	<include refid="Base_Column_List"/>
  	  from T_LOG_TRAN_FLOW_BATCH where SERIAL_NO = #{id}
  </select>
   <select id="findMaxSeqNum" parameterType="com.bestpay.posp.system.entity.TLogTranFlowBatch" resultType="java.lang.String">
  	  select 
  	  	max(seq_num)
  	  from T_LOG_TRAN_FLOW_BATCH where 1=1
  		<if test="merchCode != null">
  			and MERCH_CODE = #{merchCode}
  		</if>
  		<if test="termCode != null">
  			and TERM_CODE = #{termCode}
  		</if>
  		<if test="batchNo != null">
  			and BATCH_NO = #{batchNo}
  		</if>
  </select>
  <select id="findUnique" parameterType="com.bestpay.posp.system.entity.TLogTranFlowBatch" resultMap="BaseResultMap">
  		select 
  			<include refid="Base_Column_List"/>
  		from T_LOG_TRAN_FLOW_BATCH
  		where 1=1 
  		
  		<if test="serialNo != null">
  			and SERIAL_NO = #{serialNo}
  		</if>
  		<if test="tranDate != null">
  			and TRAN_DATE = #{tranDate}
  		</if>
  		<if test="batchNo != null">
  			and BATCH_NO = #{batchNo}
  		</if>
  		<if test="seqNum != null">
  			and SEQ_NUM = #{seqNum}
  		</if>
  		<if test="tranTime != null">
  			and TRAN_TIME = #{tranTime}
  		</if>
  		<if test="tranCode != null">
  			and TRAN_CODE = #{tranCode}
  		</if>
  		<if test="tranType != null">
  			and TRAN_TYPE = #{tranType}
  		</if>
  		<if test="settleFlag != null">
  			and SETTLE_FLAG = #{settleFlag}
  		</if>
  		<if test="settleDate != null">
  			and SETTLE_DATE = #{settleDate}
  		</if>
  		<if test="settleMode != null">
  			and SETTLE_MODE = #{settleMode}
  		</if>
  		<if test="origSerialNo != null">
  			and ORIG_SERIAL_NO = #{origSerialNo}
  		</if>
  		<if test="origSerialDate != null">
  			and ORIG_SERIAL_DATE = #{origSerialDate}
  		</if>
  		<if test="origSerialTime != null">
  			and ORIG_SERIAL_TIME = #{origSerialTime}
  		</if>
  		<if test="origTranType != null">
  			and ORIG_TRAN_TYPE = #{origTranType}
  		</if>
  		<if test="termSerialNo != null">
  			and TERM_SERIAL_NO = #{termSerialNo}
  		</if>
  		<if test="termDate != null">
  			and TERM_DATE = #{termDate}
  		</if>
  		<if test="termTime != null">
  			and TERM_TIME = #{termTime}
  		</if>
  		<if test="cupsSerialNo != null">
  			and CUPS_SERIAL_NO = #{cupsSerialNo}
  		</if>
  		<if test="cupsDate != null">
  			and CUPS_DATE = #{cupsDate}
  		</if>
  		<if test="cardNo != null">
  			and CARD_NO = #{cardNo}
  		</if>
  		<if test="addCardNo != null">
  			and ADD_CARD_NO = #{addCardNo}
  		</if>
  		<if test="cardType != null">
  			and CARD_TYPE = #{cardType}
  		</if>
  		<if test="cardBin != null">
  			and CARD_BIN = #{cardBin}
  		</if>
  		<if test="tranAmount != null">
  			and TRAN_AMOUNT = #{tranAmount}
  		</if>
  		<if test="remainAmount != null">
  			and REMAIN_AMOUNT = #{remainAmount}
  		</if>
  		<if test="otherAmount != null">
  			and OTHER_AMOUNT = #{otherAmount}
  		</if>
  		<if test="tranFlag != null">
  			and TRAN_FLAG = #{tranFlag}
  		</if>
  		<if test="referNo != null">
  			and REFER_NO = #{referNo}
  		</if>
  		<if test="authNo != null">
  			and AUTH_NO = #{authNo}
  		</if>
  		<if test="authDate != null">
  			and AUTH_DATE = #{authDate}
  		</if>
  		<if test="authAmount != null">
  			and AUTH_AMOUNT = #{authAmount}
  		</if>
  		<if test="rcvBankCode != null">
  			and RCV_BANK_CODE = #{rcvBankCode}
  		</if>
  		<if test="rcvBranchCode != null">
  			and RCV_BRANCH_CODE = #{rcvBranchCode}
  		</if>
  		<if test="mcc != null">
  			and MCC = #{mcc}
  		</if>
  		<if test="merchCode != null">
  			and MERCH_CODE = #{merchCode}
  		</if>
  		<if test="termCode != null">
  			and TERM_CODE = #{termCode}
  		</if>
  		<if test="termFlag != null">
  			and TERM_FLAG = #{termFlag}
  		</if>
  		<if test="operNo != null">
  			and OPER_NO = #{operNo}
  		</if>
  		<if test="channelType != null">
  			and CHANNEL_TYPE = #{channelType}
  		</if>
  		<if test="inputMode != null">
  			and INPUT_MODE = #{inputMode}
  		</if>
  		<if test="conditionMode != null">
  			and CONDITION_MODE = #{conditionMode}
  		</if>
  		<if test="ccyCode != null">
  			and CCY_CODE = #{ccyCode}
  		</if>
  		<if test="respCode != null">
  			and RESP_CODE = #{respCode}
  		</if>
  		<if test="tranState != null">
  			and TRAN_STATE = #{tranState}
  		</if>
  		<if test="batchState != null">
  			and BATCH_STATE = #{batchState}
  		</if>
  		<if test="batchResult != null">
  			and BATCH_RESULT = #{batchResult}
  		</if>
  		<if test="termSettleDate != null">
  			and TERM_SETTLE_DATE = #{termSettleDate}
  		</if>
  		<if test="ip != null">
  			and IP = #{ip}
  		</if>
  		<if test="reserve != null">
  			and RESERVE = #{reserve}
  		</if>
  		<if test="cardFlag != null">
  			and CARD_FLAG = #{cardFlag}
  		</if>
  		 
  </select>
  
  <select id="find" parameterType="com.bestpay.posp.system.entity.TLogTranFlowBatch" resultMap="BaseResultMap">
  		select 
  			<include refid="Base_Column_List"/>
  		from T_LOG_TRAN_FLOW_BATCH
  		where 1=1 
  		<if test="serialNo != null">
  			and SERIAL_NO = #{serialNo}
  		</if>
  		<if test="tranDate != null">
  			and TRAN_DATE = #{tranDate}
  		</if>
  		<if test="batchNo != null">
  			and BATCH_NO = #{batchNo}
  		</if>
  		<if test="seqNum != null">
  			and SEQ_NUM = #{seqNum}
  		</if>
  		<if test="tranTime != null">
  			and TRAN_TIME = #{tranTime}
  		</if>
  		<if test="tranCode != null">
  			and TRAN_CODE = #{tranCode}
  		</if>
  		<if test="tranType != null">
  			and TRAN_TYPE = #{tranType}
  		</if>
  		<if test="settleFlag != null">
  			and SETTLE_FLAG = #{settleFlag}
  		</if>
  		<if test="settleDate != null">
  			and SETTLE_DATE = #{settleDate}
  		</if>
  		<if test="settleMode != null">
  			and SETTLE_MODE = #{settleMode}
  		</if>
  		<if test="origSerialNo != null">
  			and ORIG_SERIAL_NO = #{origSerialNo}
  		</if>
  		<if test="origSerialDate != null">
  			and ORIG_SERIAL_DATE = #{origSerialDate}
  		</if>
  		<if test="origSerialTime != null">
  			and ORIG_SERIAL_TIME = #{origSerialTime}
  		</if>
  		<if test="origTranType != null">
  			and ORIG_TRAN_TYPE = #{origTranType}
  		</if>
  		<if test="termSerialNo != null">
  			and TERM_SERIAL_NO = #{termSerialNo}
  		</if>
  		<if test="termDate != null">
  			and TERM_DATE = #{termDate}
  		</if>
  		<if test="termTime != null">
  			and TERM_TIME = #{termTime}
  		</if>
  		<if test="cupsSerialNo != null">
  			and CUPS_SERIAL_NO = #{cupsSerialNo}
  		</if>
  		<if test="cupsDate != null">
  			and CUPS_DATE = #{cupsDate}
  		</if>
  		<if test="cardNo != null">
  			and CARD_NO = #{cardNo}
  		</if>
  		<if test="addCardNo != null">
  			and ADD_CARD_NO = #{addCardNo}
  		</if>
  		<if test="cardType != null">
  			and CARD_TYPE = #{cardType}
  		</if>
  		<if test="cardBin != null">
  			and CARD_BIN = #{cardBin}
  		</if>
  		<if test="tranAmount != null">
  			and TRAN_AMOUNT = #{tranAmount}
  		</if>
  		<if test="remainAmount != null">
  			and REMAIN_AMOUNT = #{remainAmount}
  		</if>
  		<if test="otherAmount != null">
  			and OTHER_AMOUNT = #{otherAmount}
  		</if>
  		<if test="tranFlag != null">
  			and TRAN_FLAG = #{tranFlag}
  		</if>
  		<if test="referNo != null">
  			and REFER_NO = #{referNo}
  		</if>
  		<if test="authNo != null">
  			and AUTH_NO = #{authNo}
  		</if>
  		<if test="authDate != null">
  			and AUTH_DATE = #{authDate}
  		</if>
  		<if test="authAmount != null">
  			and AUTH_AMOUNT = #{authAmount}
  		</if>
  		<if test="rcvBankCode != null">
  			and RCV_BANK_CODE = #{rcvBankCode}
  		</if>
  		<if test="rcvBranchCode != null">
  			and RCV_BRANCH_CODE = #{rcvBranchCode}
  		</if>
  		<if test="mcc != null">
  			and MCC = #{mcc}
  		</if>
  		<if test="merchCode != null">
  			and MERCH_CODE = #{merchCode}
  		</if>
  		<if test="termCode != null">
  			and TERM_CODE = #{termCode}
  		</if>
  		<if test="termFlag != null">
  			and TERM_FLAG = #{termFlag}
  		</if>
  		<if test="operNo != null">
  			and OPER_NO = #{operNo}
  		</if>
  		<if test="channelType != null">
  			and CHANNEL_TYPE = #{channelType}
  		</if>
  		<if test="inputMode != null">
  			and INPUT_MODE = #{inputMode}
  		</if>
  		<if test="conditionMode != null">
  			and CONDITION_MODE = #{conditionMode}
  		</if>
  		<if test="ccyCode != null">
  			and CCY_CODE = #{ccyCode}
  		</if>
  		<if test="respCode != null">
  			and RESP_CODE = #{respCode}
  		</if>
  		<if test="tranState != null">
  			and TRAN_STATE = #{tranState}
  		</if>
  		<if test="batchState != null">
  			and BATCH_STATE = #{batchState}
  		</if>
  		<if test="batchResult != null">
  			and BATCH_RESULT = #{batchResult}
  		</if>
  		<if test="termSettleDate != null">
  			and TERM_SETTLE_DATE = #{termSettleDate}
  		</if>
  		<if test="ip != null">
  			and IP = #{ip}
  		</if>
  		<if test="reserve != null">
  			and RESERVE = #{reserve}
  		</if>
  		<if test="cardFlag != null">
  			and CARD_FLAG = #{cardFlag}
  		</if>
  </select>
  
  <select id="findAll" parameterType="com.bestpay.posp.system.entity.TLogTranFlowBatch" resultMap="BaseResultMap">
  		select 
  			<include refid="Base_Column_List"/>
  		from T_LOG_TRAN_FLOW_BATCH
  </select>
  
  <select id="countBy" parameterType="com.bestpay.posp.system.entity.TLogTranFlowBatch" resultType="java.lang.Integer">
  		select 
  			count(*)
  		from T_LOG_TRAN_FLOW_BATCH
  		where 1=1 
  		<if test="serialNo != null">
  			and SERIAL_NO = #{serialNo}
  		</if>
  		<if test="tranDate != null">
  			and TRAN_DATE = #{tranDate}
  		</if>
  		<if test="batchNo != null">
  			and BATCH_NO = #{batchNo}
  		</if>
  		<if test="seqNum != null">
  			and SEQ_NUM = #{seqNum}
  		</if>
  		<if test="tranTime != null">
  			and TRAN_TIME = #{tranTime}
  		</if>
  		<if test="tranCode != null">
  			and TRAN_CODE = #{tranCode}
  		</if>
  		<if test="tranType != null">
  			and TRAN_TYPE = #{tranType}
  		</if>
  		<if test="settleFlag != null">
  			and SETTLE_FLAG = #{settleFlag}
  		</if>
  		<if test="settleDate != null">
  			and SETTLE_DATE = #{settleDate}
  		</if>
  		<if test="settleMode != null">
  			and SETTLE_MODE = #{settleMode}
  		</if>
  		<if test="origSerialNo != null">
  			and ORIG_SERIAL_NO = #{origSerialNo}
  		</if>
  		<if test="origSerialDate != null">
  			and ORIG_SERIAL_DATE = #{origSerialDate}
  		</if>
  		<if test="origSerialTime != null">
  			and ORIG_SERIAL_TIME = #{origSerialTime}
  		</if>
  		<if test="origTranType != null">
  			and ORIG_TRAN_TYPE = #{origTranType}
  		</if>
  		<if test="termSerialNo != null">
  			and TERM_SERIAL_NO = #{termSerialNo}
  		</if>
  		<if test="termDate != null">
  			and TERM_DATE = #{termDate}
  		</if>
  		<if test="termTime != null">
  			and TERM_TIME = #{termTime}
  		</if>
  		<if test="cupsSerialNo != null">
  			and CUPS_SERIAL_NO = #{cupsSerialNo}
  		</if>
  		<if test="cupsDate != null">
  			and CUPS_DATE = #{cupsDate}
  		</if>
  		<if test="cardNo != null">
  			and CARD_NO = #{cardNo}
  		</if>
  		<if test="addCardNo != null">
  			and ADD_CARD_NO = #{addCardNo}
  		</if>
  		<if test="cardType != null">
  			and CARD_TYPE = #{cardType}
  		</if>
  		<if test="cardBin != null">
  			and CARD_BIN = #{cardBin}
  		</if>
  		<if test="tranAmount != null">
  			and TRAN_AMOUNT = #{tranAmount}
  		</if>
  		<if test="remainAmount != null">
  			and REMAIN_AMOUNT = #{remainAmount}
  		</if>
  		<if test="otherAmount != null">
  			and OTHER_AMOUNT = #{otherAmount}
  		</if>
  		<if test="tranFlag != null">
  			and TRAN_FLAG = #{tranFlag}
  		</if>
  		<if test="referNo != null">
  			and REFER_NO = #{referNo}
  		</if>
  		<if test="authNo != null">
  			and AUTH_NO = #{authNo}
  		</if>
  		<if test="authDate != null">
  			and AUTH_DATE = #{authDate}
  		</if>
  		<if test="authAmount != null">
  			and AUTH_AMOUNT = #{authAmount}
  		</if>
  		<if test="rcvBankCode != null">
  			and RCV_BANK_CODE = #{rcvBankCode}
  		</if>
  		<if test="rcvBranchCode != null">
  			and RCV_BRANCH_CODE = #{rcvBranchCode}
  		</if>
  		<if test="mcc != null">
  			and MCC = #{mcc}
  		</if>
  		<if test="merchCode != null">
  			and MERCH_CODE = #{merchCode}
  		</if>
  		<if test="termCode != null">
  			and TERM_CODE = #{termCode}
  		</if>
  		<if test="termFlag != null">
  			and TERM_FLAG = #{termFlag}
  		</if>
  		<if test="operNo != null">
  			and OPER_NO = #{operNo}
  		</if>
  		<if test="channelType != null">
  			and CHANNEL_TYPE = #{channelType}
  		</if>
  		<if test="inputMode != null">
  			and INPUT_MODE = #{inputMode}
  		</if>
  		<if test="conditionMode != null">
  			and CONDITION_MODE = #{conditionMode}
  		</if>
  		<if test="ccyCode != null">
  			and CCY_CODE = #{ccyCode}
  		</if>
  		<if test="respCode != null">
  			and RESP_CODE = #{respCode}
  		</if>
  		<if test="tranState != null">
  			and TRAN_STATE = #{tranState}
  		</if>
  		<if test="batchState != null">
  			and BATCH_STATE = #{batchState}
  		</if>
  		<if test="batchResult != null">
  			and BATCH_RESULT = #{batchResult}
  		</if>
  		<if test="termSettleDate != null">
  			and TERM_SETTLE_DATE = #{termSettleDate}
  		</if>
  		<if test="ip != null">
  			and IP = #{ip}
  		</if>
  		<if test="reserve != null">
  			and RESERVE = #{reserve}
  		</if>
  		<if test="cardFlag != null">
  			and CARD_FLAG = #{cardFlag}
  		</if>
  </select>
  
  <insert id="insert" parameterType="com.bestpay.posp.system.entity.TLogTranFlowBatch">

	 INSERT INTO T_LOG_TRAN_FLOW_BATCH
	   (SERIAL_NO,TRAN_DATE,BATCH_NO,SEQ_NUM,TRAN_TIME,TRAN_CODE,TRAN_TYPE,SETTLE_FLAG,SETTLE_DATE,SETTLE_MODE,ORIG_SERIAL_NO,ORIG_SERIAL_DATE,ORIG_SERIAL_TIME,ORIG_TRAN_TYPE,TERM_SERIAL_NO,TERM_DATE,TERM_TIME,CUPS_SERIAL_NO,CUPS_DATE,CARD_NO,ADD_CARD_NO,CARD_TYPE,CARD_BIN,TRAN_AMOUNT,REMAIN_AMOUNT,OTHER_AMOUNT,TRAN_FLAG,REFER_NO,AUTH_NO,AUTH_DATE,AUTH_AMOUNT,RCV_BANK_CODE,RCV_BRANCH_CODE,MCC,MERCH_CODE,TERM_CODE,TERM_FLAG,OPER_NO,CHANNEL_TYPE,INPUT_MODE,CONDITION_MODE,CCY_CODE,RESP_CODE,TRAN_STATE,BATCH_STATE,BATCH_RESULT,TERM_SETTLE_DATE,IP,RESERVE,CARD_FLAG)
     VALUES (
	    #{serialNo,jdbcType=CHAR},
	    #{tranDate,jdbcType=CHAR},
	    #{batchNo,jdbcType=CHAR},
	    #{seqNum,jdbcType=VARCHAR},
	    #{tranTime,jdbcType=CHAR},
	    #{tranCode,jdbcType=CHAR},
	    #{tranType,jdbcType=CHAR},
	    #{settleFlag,jdbcType=CHAR},
	    #{settleDate,jdbcType=CHAR},
	    #{settleMode,jdbcType=CHAR},
	    #{origSerialNo,jdbcType=CHAR},
	    #{origSerialDate,jdbcType=CHAR},
	    #{origSerialTime,jdbcType=CHAR},
	    #{origTranType,jdbcType=CHAR},
	    #{termSerialNo,jdbcType=CHAR},
	    #{termDate,jdbcType=CHAR},
	    #{termTime,jdbcType=CHAR},
	    #{cupsSerialNo,jdbcType=VARCHAR},
	    #{cupsDate,jdbcType=CHAR},
	    #{cardNo,jdbcType=VARCHAR},
	    #{addCardNo,jdbcType=VARCHAR},
	    #{cardType,jdbcType=CHAR},
	    #{cardBin,jdbcType=VARCHAR},
	    #{tranAmount,jdbcType=DECIMAL},
	    #{remainAmount,jdbcType=DECIMAL},
	    #{otherAmount,jdbcType=DECIMAL},
	    #{tranFlag,jdbcType=CHAR},
	    #{referNo,jdbcType=VARCHAR},
	    #{authNo,jdbcType=CHAR},
	    #{authDate,jdbcType=CHAR},
	    #{authAmount,jdbcType=DECIMAL},
	    #{rcvBankCode,jdbcType=VARCHAR},
	    #{rcvBranchCode,jdbcType=VARCHAR},
	    #{mcc,jdbcType=VARCHAR},
	    #{merchCode,jdbcType=VARCHAR},
	    #{termCode,jdbcType=VARCHAR},
	    #{termFlag,jdbcType=CHAR},
	    #{operNo,jdbcType=VARCHAR},
	    #{channelType,jdbcType=CHAR},
	    #{inputMode,jdbcType=CHAR},
	    #{conditionMode,jdbcType=CHAR},
	    #{ccyCode,jdbcType=CHAR},
	    #{respCode,jdbcType=VARCHAR},
	    #{tranState,jdbcType=CHAR},
	    #{batchState,jdbcType=CHAR},
	    #{batchResult,jdbcType=CHAR},
	    #{termSettleDate,jdbcType=VARCHAR},
	    #{ip,jdbcType=VARCHAR},
	    #{reserve,jdbcType=VARCHAR},
	    #{cardFlag,jdbcType=VARCHAR}
     ) 
  </insert>
  
  <update id="update" parameterType="com.bestpay.posp.system.entity.TLogTranFlowBatch">
	UPDATE T_LOG_TRAN_FLOW_BATCH SET
	  	<if test="serialNo != null">
	  		 SERIAL_NO = #{serialNo,jdbcType=CHAR}
	  	</if>
	  	<if test="tranDate != null">
	  		, TRAN_DATE = #{tranDate,jdbcType=CHAR}
	  	</if>
	  	<if test="batchNo != null">
	  		, BATCH_NO = #{batchNo,jdbcType=CHAR}
	  	</if>
	  	<if test="seqNum != null">
	  		, SEQ_NUM = #{seqNum,jdbcType=VARCHAR}
	  	</if>
	  	<if test="tranTime != null">
	  		, TRAN_TIME = #{tranTime,jdbcType=CHAR}
	  	</if>
	  	<if test="tranCode != null">
	  		, TRAN_CODE = #{tranCode,jdbcType=CHAR}
	  	</if>
	  	<if test="tranType != null">
	  		, TRAN_TYPE = #{tranType,jdbcType=CHAR}
	  	</if>
	  	<if test="settleFlag != null">
	  		, SETTLE_FLAG = #{settleFlag,jdbcType=CHAR}
	  	</if>
	  	<if test="settleDate != null">
	  		, SETTLE_DATE = #{settleDate,jdbcType=CHAR}
	  	</if>
	  	<if test="settleMode != null">
	  		, SETTLE_MODE = #{settleMode,jdbcType=CHAR}
	  	</if>
	  	<if test="origSerialNo != null">
	  		, ORIG_SERIAL_NO = #{origSerialNo,jdbcType=CHAR}
	  	</if>
	  	<if test="origSerialDate != null">
	  		, ORIG_SERIAL_DATE = #{origSerialDate,jdbcType=CHAR}
	  	</if>
	  	<if test="origSerialTime != null">
	  		, ORIG_SERIAL_TIME = #{origSerialTime,jdbcType=CHAR}
	  	</if>
	  	<if test="origTranType != null">
	  		, ORIG_TRAN_TYPE = #{origTranType,jdbcType=CHAR}
	  	</if>
	  	<if test="termSerialNo != null">
	  		, TERM_SERIAL_NO = #{termSerialNo,jdbcType=CHAR}
	  	</if>
	  	<if test="termDate != null">
	  		, TERM_DATE = #{termDate,jdbcType=CHAR}
	  	</if>
	  	<if test="termTime != null">
	  		, TERM_TIME = #{termTime,jdbcType=CHAR}
	  	</if>
	  	<if test="cupsSerialNo != null">
	  		, CUPS_SERIAL_NO = #{cupsSerialNo,jdbcType=VARCHAR}
	  	</if>
	  	<if test="cupsDate != null">
	  		, CUPS_DATE = #{cupsDate,jdbcType=CHAR}
	  	</if>
	  	<if test="cardNo != null">
	  		, CARD_NO = #{cardNo,jdbcType=VARCHAR}
	  	</if>
	  	<if test="addCardNo != null">
	  		, ADD_CARD_NO = #{addCardNo,jdbcType=VARCHAR}
	  	</if>
	  	<if test="cardType != null">
	  		, CARD_TYPE = #{cardType,jdbcType=CHAR}
	  	</if>
	  	<if test="cardBin != null">
	  		, CARD_BIN = #{cardBin,jdbcType=VARCHAR}
	  	</if>
	  	<if test="tranAmount != null">
	  		, TRAN_AMOUNT = #{tranAmount,jdbcType=DECIMAL}
	  	</if>
	  	<if test="remainAmount != null">
	  		, REMAIN_AMOUNT = #{remainAmount,jdbcType=DECIMAL}
	  	</if>
	  	<if test="otherAmount != null">
	  		, OTHER_AMOUNT = #{otherAmount,jdbcType=DECIMAL}
	  	</if>
	  	<if test="tranFlag != null">
	  		, TRAN_FLAG = #{tranFlag,jdbcType=CHAR}
	  	</if>
	  	<if test="referNo != null">
	  		, REFER_NO = #{referNo,jdbcType=VARCHAR}
	  	</if>
	  	<if test="authNo != null">
	  		, AUTH_NO = #{authNo,jdbcType=CHAR}
	  	</if>
	  	<if test="authDate != null">
	  		, AUTH_DATE = #{authDate,jdbcType=CHAR}
	  	</if>
	  	<if test="authAmount != null">
	  		, AUTH_AMOUNT = #{authAmount,jdbcType=DECIMAL}
	  	</if>
	  	<if test="rcvBankCode != null">
	  		, RCV_BANK_CODE = #{rcvBankCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="rcvBranchCode != null">
	  		, RCV_BRANCH_CODE = #{rcvBranchCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="mcc != null">
	  		, MCC = #{mcc,jdbcType=VARCHAR}
	  	</if>
	  	<if test="merchCode != null">
	  		, MERCH_CODE = #{merchCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="termCode != null">
	  		, TERM_CODE = #{termCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="termFlag != null">
	  		, TERM_FLAG = #{termFlag,jdbcType=CHAR}
	  	</if>
	  	<if test="operNo != null">
	  		, OPER_NO = #{operNo,jdbcType=VARCHAR}
	  	</if>
	  	<if test="channelType != null">
	  		, CHANNEL_TYPE = #{channelType,jdbcType=CHAR}
	  	</if>
	  	<if test="inputMode != null">
	  		, INPUT_MODE = #{inputMode,jdbcType=CHAR}
	  	</if>
	  	<if test="conditionMode != null">
	  		, CONDITION_MODE = #{conditionMode,jdbcType=CHAR}
	  	</if>
	  	<if test="ccyCode != null">
	  		, CCY_CODE = #{ccyCode,jdbcType=CHAR}
	  	</if>
	  	<if test="respCode != null">
	  		, RESP_CODE = #{respCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="tranState != null">
	  		, TRAN_STATE = #{tranState,jdbcType=CHAR}
	  	</if>
	  	<if test="batchState != null">
	  		, BATCH_STATE = #{batchState,jdbcType=CHAR}
	  	</if>
	  	<if test="batchResult != null">
	  		, BATCH_RESULT = #{batchResult,jdbcType=CHAR}
	  	</if>
	  	<if test="termSettleDate != null">
	  		, TERM_SETTLE_DATE = #{termSettleDate,jdbcType=VARCHAR}
	  	</if>
	  	<if test="ip != null">
	  		, IP = #{ip,jdbcType=VARCHAR}
	  	</if>
	  	<if test="reserve != null">
	  		, RESERVE = #{reserve,jdbcType=VARCHAR}
	  	</if>
	  	<if test="cardFlag != null">
	  		, CARD_FLAG = #{cardFlag,jdbcType=VARCHAR}
	  	</if>
		WHERE SERIAL_NO = #{serialNo, jdbcType=DECIMAL}
  </update>

</mapper>