<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestpay.posp.system.dao.TLogNoticeTranFlowDao" >

  <resultMap id="BaseResultMap" type="com.bestpay.posp.system.entity.TLogNoticeTranFlow" >
	    <result column="SERIAL_NO" property="serialNo" jdbcType="VARCHAR" />
	    <result column="TRAN_DATE" property="tranDate" jdbcType="CHAR" />
	    <result column="TRAN_TIME" property="tranTime" jdbcType="CHAR" />
	    <result column="TRAN_CODE" property="tranCode" jdbcType="VARCHAR" />
	    <result column="TRAN_TYPE" property="tranType" jdbcType="CHAR" />
	    <result column="ORIG_SERIAL_NO" property="origSerialNo" jdbcType="VARCHAR" />
	    <result column="ORIG_TRAN_DATE" property="origTranDate" jdbcType="CHAR" />
	    <result column="ORIG_TRAN_TIME" property="origTranTime" jdbcType="CHAR" />
	    <result column="ORIG_TRAN_CODE" property="origTranCode" jdbcType="VARCHAR" />
	    <result column="ORIG_TRAN_TYPE" property="origTranType" jdbcType="CHAR" />
	    <result column="MERCH_CODE" property="merchCode" jdbcType="VARCHAR" />
	    <result column="TERM_CODE" property="termCode" jdbcType="VARCHAR" />
	    <result column="BATCH_NO" property="batchNo" jdbcType="CHAR" />
	    <result column="TERM_SERIAL_NO" property="termSerialNo" jdbcType="CHAR" />
	    <result column="TERM_DATE" property="termDate" jdbcType="CHAR" />
	    <result column="TERM_TIME" property="termTime" jdbcType="CHAR" />
	    <result column="ORIG_TERM_SERIAL_NO" property="origTermSerialNo" jdbcType="VARCHAR" />
	    <result column="ORIG_TERM_DATE" property="origTermDate" jdbcType="CHAR" />
	    <result column="ORIG_TERM_TIME" property="origTermTime" jdbcType="CHAR" />
	    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
	    <result column="TRAN_AMOUNT" property="tranAmount" jdbcType="DECIMAL" />
	    <result column="WRITE_FLAG" property="writeFlag" jdbcType="CHAR" />
	    <result column="RESP_CODE" property="respCode" jdbcType="VARCHAR" />
	    <result column="RETURN_CODE" property="returnCode" jdbcType="VARCHAR" />
	    <result column="RETURN_DESC" property="returnDesc" jdbcType="VARCHAR" />
	    <result column="MAX_RETRY_TIMES" property="maxRetryTimes" jdbcType="DECIMAL" />
	    <result column="INTERVAL" property="interval" jdbcType="DECIMAL" />
	    <result column="RETRY_TIMES" property="retryTimes" jdbcType="DECIMAL" />
	    <result column="SUCCSS_FLAG" property="succssFlag" jdbcType="CHAR" />
	    <result column="LAST_RETRY_TIME" property="lastRetryTime" jdbcType="VARCHAR" />
	    <result column="PB_ASCII_LEN" property="pbAsciiLen" jdbcType="DECIMAL" />
	    <result column="PB_ASCII_STR" property="pbAsciiStr" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
	SERIAL_NO,TRAN_DATE,TRAN_TIME,TRAN_CODE,TRAN_TYPE,ORIG_SERIAL_NO,ORIG_TRAN_DATE,ORIG_TRAN_TIME,ORIG_TRAN_CODE,ORIG_TRAN_TYPE,MERCH_CODE,TERM_CODE,BATCH_NO,TERM_SERIAL_NO,TERM_DATE,TERM_TIME,ORIG_TERM_SERIAL_NO,ORIG_TERM_DATE,ORIG_TERM_TIME,CARD_NO,TRAN_AMOUNT,WRITE_FLAG,RESP_CODE,RETURN_CODE,RETURN_DESC,MAX_RETRY_TIMES,INTERVAL,RETRY_TIMES,SUCCSS_FLAG,LAST_RETRY_TIME,PB_ASCII_LEN,PB_ASCII_STR
  </sql>
  
  <select id="findById" parameterType="java.lang.Long"  resultMap="BaseResultMap" >
  	  select 
  	  	<include refid="Base_Column_List"/>
  	  from T_LOG_NOTICE_TRAN_FLOW where SERIAL_NO = #{id}
  </select>
  
  <select id="findUnique" parameterType="com.bestpay.posp.system.entity.TLogNoticeTranFlow" resultMap="BaseResultMap">
  		select 
  			<include refid="Base_Column_List"/>
  		from T_LOG_NOTICE_TRAN_FLOW
  		where 1=1 
  		
  		<if test="serialNo != null">
  			and SERIAL_NO = #{serialNo}
  		</if>
  		<if test="tranDate != null">
  			and TRAN_DATE = #{tranDate}
  		</if>
  		<if test="tranTime != null">
  			and TRAN_TIME = #{tranTime}
  		</if>
  		<if test="tranCode != null">
  			and TRAN_CODE = #{tranCode}
  		</if>
  		<if test="tranType != null">
  			and TRAN_TYPE = #{tranType}
  		</if>
  		<if test="origSerialNo != null">
  			and ORIG_SERIAL_NO = #{origSerialNo}
  		</if>
  		<if test="origTranDate != null">
  			and ORIG_TRAN_DATE = #{origTranDate}
  		</if>
  		<if test="origTranTime != null">
  			and ORIG_TRAN_TIME = #{origTranTime}
  		</if>
  		<if test="origTranCode != null">
  			and ORIG_TRAN_CODE = #{origTranCode}
  		</if>
  		<if test="origTranType != null">
  			and ORIG_TRAN_TYPE = #{origTranType}
  		</if>
  		<if test="merchCode != null">
  			and MERCH_CODE = #{merchCode}
  		</if>
  		<if test="termCode != null">
  			and TERM_CODE = #{termCode}
  		</if>
  		<if test="batchNo != null">
  			and BATCH_NO = #{batchNo}
  		</if>
  		<if test="termSerialNo != null">
  			and TERM_SERIAL_NO = #{termSerialNo}
  		</if>
  		<if test="termDate != null">
  			and TERM_DATE = #{termDate}
  		</if>
  		<if test="termTime != null">
  			and TERM_TIME = #{termTime}
  		</if>
  		<if test="origTermSerialNo != null">
  			and ORIG_TERM_SERIAL_NO = #{origTermSerialNo}
  		</if>
  		<if test="origTermDate != null">
  			and ORIG_TERM_DATE = #{origTermDate}
  		</if>
  		<if test="origTermTime != null">
  			and ORIG_TERM_TIME = #{origTermTime}
  		</if>
  		<if test="cardNo != null">
  			and CARD_NO = #{cardNo}
  		</if>
  		<if test="tranAmount != null">
  			and TRAN_AMOUNT = #{tranAmount}
  		</if>
  		<if test="writeFlag != null">
  			and WRITE_FLAG = #{writeFlag}
  		</if>
  		<if test="respCode != null">
  			and RESP_CODE = #{respCode}
  		</if>
  		<if test="returnCode != null">
  			and RETURN_CODE = #{returnCode}
  		</if>
  		<if test="returnDesc != null">
  			and RETURN_DESC = #{returnDesc}
  		</if>
  		<if test="maxRetryTimes != null">
  			and MAX_RETRY_TIMES = #{maxRetryTimes}
  		</if>
  		<if test="interval != null">
  			and INTERVAL = #{interval}
  		</if>
  		<if test="retryTimes != null">
  			and RETRY_TIMES = #{retryTimes}
  		</if>
  		<if test="succssFlag != null">
  			and SUCCSS_FLAG = #{succssFlag}
  		</if>
  		<if test="lastRetryTime != null">
  			and LAST_RETRY_TIME = #{lastRetryTime}
  		</if>
  		<if test="pbAsciiLen != null">
  			and PB_ASCII_LEN = #{pbAsciiLen}
  		</if>
  		<if test="pbAsciiStr != null">
  			and PB_ASCII_STR = #{pbAsciiStr}
  		</if>
  		 
  </select>
  
  <select id="find" parameterType="com.bestpay.posp.system.entity.TLogNoticeTranFlow" resultMap="BaseResultMap">
  		select 
  			<include refid="Base_Column_List"/>
  		from T_LOG_NOTICE_TRAN_FLOW
  		where 1=1 
  		<if test="serialNo != null">
  			and SERIAL_NO = #{serialNo}
  		</if>
  		<if test="tranDate != null">
  			and TRAN_DATE = #{tranDate}
  		</if>
  		<if test="tranTime != null">
  			and TRAN_TIME = #{tranTime}
  		</if>
  		<if test="tranCode != null">
  			and TRAN_CODE = #{tranCode}
  		</if>
  		<if test="tranType != null">
  			and TRAN_TYPE = #{tranType}
  		</if>
  		<if test="origSerialNo != null">
  			and ORIG_SERIAL_NO = #{origSerialNo}
  		</if>
  		<if test="origTranDate != null">
  			and ORIG_TRAN_DATE = #{origTranDate}
  		</if>
  		<if test="origTranTime != null">
  			and ORIG_TRAN_TIME = #{origTranTime}
  		</if>
  		<if test="origTranCode != null">
  			and ORIG_TRAN_CODE = #{origTranCode}
  		</if>
  		<if test="origTranType != null">
  			and ORIG_TRAN_TYPE = #{origTranType}
  		</if>
  		<if test="merchCode != null">
  			and MERCH_CODE = #{merchCode}
  		</if>
  		<if test="termCode != null">
  			and TERM_CODE = #{termCode}
  		</if>
  		<if test="batchNo != null">
  			and BATCH_NO = #{batchNo}
  		</if>
  		<if test="termSerialNo != null">
  			and TERM_SERIAL_NO = #{termSerialNo}
  		</if>
  		<if test="termDate != null">
  			and TERM_DATE = #{termDate}
  		</if>
  		<if test="termTime != null">
  			and TERM_TIME = #{termTime}
  		</if>
  		<if test="origTermSerialNo != null">
  			and ORIG_TERM_SERIAL_NO = #{origTermSerialNo}
  		</if>
  		<if test="origTermDate != null">
  			and ORIG_TERM_DATE = #{origTermDate}
  		</if>
  		<if test="origTermTime != null">
  			and ORIG_TERM_TIME = #{origTermTime}
  		</if>
  		<if test="cardNo != null">
  			and CARD_NO = #{cardNo}
  		</if>
  		<if test="tranAmount != null">
  			and TRAN_AMOUNT = #{tranAmount}
  		</if>
  		<if test="writeFlag != null">
  			and WRITE_FLAG = #{writeFlag}
  		</if>
  		<if test="respCode != null">
  			and RESP_CODE = #{respCode}
  		</if>
  		<if test="returnCode != null">
  			and RETURN_CODE = #{returnCode}
  		</if>
  		<if test="returnDesc != null">
  			and RETURN_DESC = #{returnDesc}
  		</if>
  		<if test="maxRetryTimes != null">
  			and MAX_RETRY_TIMES = #{maxRetryTimes}
  		</if>
  		<if test="interval != null">
  			and INTERVAL = #{interval}
  		</if>
  		<if test="retryTimes != null">
  			and RETRY_TIMES = #{retryTimes}
  		</if>
  		<if test="succssFlag != null">
  			and SUCCSS_FLAG = #{succssFlag}
  		</if>
  		<if test="lastRetryTime != null">
  			and LAST_RETRY_TIME = #{lastRetryTime}
  		</if>
  		<if test="pbAsciiLen != null">
  			and PB_ASCII_LEN = #{pbAsciiLen}
  		</if>
  		<if test="pbAsciiStr != null">
  			and PB_ASCII_STR = #{pbAsciiStr}
  		</if>
  </select>
  
  <select id="findAll" parameterType="com.bestpay.posp.system.entity.TLogNoticeTranFlow" resultMap="BaseResultMap">
  		select 
  			<include refid="Base_Column_List"/>
  		from T_LOG_NOTICE_TRAN_FLOW
  </select>
  
  <select id="countBy" parameterType="com.bestpay.posp.system.entity.TLogNoticeTranFlow" resultType="java.lang.Integer">
  		select 
  			count(*)
  		from T_LOG_NOTICE_TRAN_FLOW
  		where 1=1 
  		<if test="serialNo != null">
  			and SERIAL_NO = #{serialNo}
  		</if>
  		<if test="tranDate != null">
  			and TRAN_DATE = #{tranDate}
  		</if>
  		<if test="tranTime != null">
  			and TRAN_TIME = #{tranTime}
  		</if>
  		<if test="tranCode != null">
  			and TRAN_CODE = #{tranCode}
  		</if>
  		<if test="tranType != null">
  			and TRAN_TYPE = #{tranType}
  		</if>
  		<if test="origSerialNo != null">
  			and ORIG_SERIAL_NO = #{origSerialNo}
  		</if>
  		<if test="origTranDate != null">
  			and ORIG_TRAN_DATE = #{origTranDate}
  		</if>
  		<if test="origTranTime != null">
  			and ORIG_TRAN_TIME = #{origTranTime}
  		</if>
  		<if test="origTranCode != null">
  			and ORIG_TRAN_CODE = #{origTranCode}
  		</if>
  		<if test="origTranType != null">
  			and ORIG_TRAN_TYPE = #{origTranType}
  		</if>
  		<if test="merchCode != null">
  			and MERCH_CODE = #{merchCode}
  		</if>
  		<if test="termCode != null">
  			and TERM_CODE = #{termCode}
  		</if>
  		<if test="batchNo != null">
  			and BATCH_NO = #{batchNo}
  		</if>
  		<if test="termSerialNo != null">
  			and TERM_SERIAL_NO = #{termSerialNo}
  		</if>
  		<if test="termDate != null">
  			and TERM_DATE = #{termDate}
  		</if>
  		<if test="termTime != null">
  			and TERM_TIME = #{termTime}
  		</if>
  		<if test="origTermSerialNo != null">
  			and ORIG_TERM_SERIAL_NO = #{origTermSerialNo}
  		</if>
  		<if test="origTermDate != null">
  			and ORIG_TERM_DATE = #{origTermDate}
  		</if>
  		<if test="origTermTime != null">
  			and ORIG_TERM_TIME = #{origTermTime}
  		</if>
  		<if test="cardNo != null">
  			and CARD_NO = #{cardNo}
  		</if>
  		<if test="tranAmount != null">
  			and TRAN_AMOUNT = #{tranAmount}
  		</if>
  		<if test="writeFlag != null">
  			and WRITE_FLAG = #{writeFlag}
  		</if>
  		<if test="respCode != null">
  			and RESP_CODE = #{respCode}
  		</if>
  		<if test="returnCode != null">
  			and RETURN_CODE = #{returnCode}
  		</if>
  		<if test="returnDesc != null">
  			and RETURN_DESC = #{returnDesc}
  		</if>
  		<if test="maxRetryTimes != null">
  			and MAX_RETRY_TIMES = #{maxRetryTimes}
  		</if>
  		<if test="interval != null">
  			and INTERVAL = #{interval}
  		</if>
  		<if test="retryTimes != null">
  			and RETRY_TIMES = #{retryTimes}
  		</if>
  		<if test="succssFlag != null">
  			and SUCCSS_FLAG = #{succssFlag}
  		</if>
  		<if test="lastRetryTime != null">
  			and LAST_RETRY_TIME = #{lastRetryTime}
  		</if>
  		<if test="pbAsciiLen != null">
  			and PB_ASCII_LEN = #{pbAsciiLen}
  		</if>
  		<if test="pbAsciiStr != null">
  			and PB_ASCII_STR = #{pbAsciiStr}
  		</if>
  </select>
  
  <insert id="insert" parameterType="com.bestpay.posp.system.entity.TLogNoticeTranFlow">
	 INSERT INTO T_LOG_NOTICE_TRAN_FLOW
	   (SERIAL_NO,TRAN_DATE,TRAN_TIME,TRAN_CODE,TRAN_TYPE,ORIG_SERIAL_NO,ORIG_TRAN_DATE,ORIG_TRAN_TIME,ORIG_TRAN_CODE,ORIG_TRAN_TYPE,MERCH_CODE,TERM_CODE,BATCH_NO,TERM_SERIAL_NO,TERM_DATE,TERM_TIME,ORIG_TERM_SERIAL_NO,ORIG_TERM_DATE,ORIG_TERM_TIME,CARD_NO,TRAN_AMOUNT,WRITE_FLAG,RESP_CODE,RETURN_CODE,RETURN_DESC,MAX_RETRY_TIMES,INTERVAL,RETRY_TIMES,SUCCSS_FLAG,LAST_RETRY_TIME,PB_ASCII_LEN,PB_ASCII_STR)
     VALUES (
	    #{serialNo,jdbcType=VARCHAR},
	    #{tranDate,jdbcType=CHAR},
	    #{tranTime,jdbcType=CHAR},
	    #{tranCode,jdbcType=VARCHAR},
	    #{tranType,jdbcType=CHAR},
	    #{origSerialNo,jdbcType=VARCHAR},
	    #{origTranDate,jdbcType=CHAR},
	    #{origTranTime,jdbcType=CHAR},
	    #{origTranCode,jdbcType=VARCHAR},
	    #{origTranType,jdbcType=CHAR},
	    #{merchCode,jdbcType=VARCHAR},
	    #{termCode,jdbcType=VARCHAR},
	    #{batchNo,jdbcType=CHAR},
	    #{termSerialNo,jdbcType=CHAR},
	    #{termDate,jdbcType=CHAR},
	    #{termTime,jdbcType=CHAR},
	    #{origTermSerialNo,jdbcType=VARCHAR},
	    #{origTermDate,jdbcType=CHAR},
	    #{origTermTime,jdbcType=CHAR},
	    #{cardNo,jdbcType=VARCHAR},
	    #{tranAmount,jdbcType=DECIMAL},
	    #{writeFlag,jdbcType=CHAR},
	    #{respCode,jdbcType=VARCHAR},
	    #{returnCode,jdbcType=VARCHAR},
	    #{returnDesc,jdbcType=VARCHAR},
	    #{maxRetryTimes,jdbcType=DECIMAL},
	    #{interval,jdbcType=DECIMAL},
	    #{retryTimes,jdbcType=DECIMAL},
	    #{succssFlag,jdbcType=CHAR},
	    #{lastRetryTime,jdbcType=VARCHAR},
	    #{pbAsciiLen,jdbcType=DECIMAL},
	    #{pbAsciiStr,jdbcType=VARCHAR}
     ) 
  </insert>
  
  <update id="update" parameterType="com.bestpay.posp.system.entity.TLogNoticeTranFlow">
	UPDATE T_LOG_NOTICE_TRAN_FLOW SET
	  	<if test="serialNo != null">
	  		 SERIAL_NO = #{serialNo,jdbcType=VARCHAR}
	  	</if>
	  	<if test="tranDate != null">
	  		, TRAN_DATE = #{tranDate,jdbcType=CHAR}
	  	</if>
	  	<if test="tranTime != null">
	  		, TRAN_TIME = #{tranTime,jdbcType=CHAR}
	  	</if>
	  	<if test="tranCode != null">
	  		, TRAN_CODE = #{tranCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="tranType != null">
	  		, TRAN_TYPE = #{tranType,jdbcType=CHAR}
	  	</if>
	  	<if test="origSerialNo != null">
	  		, ORIG_SERIAL_NO = #{origSerialNo,jdbcType=VARCHAR}
	  	</if>
	  	<if test="origTranDate != null">
	  		, ORIG_TRAN_DATE = #{origTranDate,jdbcType=CHAR}
	  	</if>
	  	<if test="origTranTime != null">
	  		, ORIG_TRAN_TIME = #{origTranTime,jdbcType=CHAR}
	  	</if>
	  	<if test="origTranCode != null">
	  		, ORIG_TRAN_CODE = #{origTranCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="origTranType != null">
	  		, ORIG_TRAN_TYPE = #{origTranType,jdbcType=CHAR}
	  	</if>
	  	<if test="merchCode != null">
	  		, MERCH_CODE = #{merchCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="termCode != null">
	  		, TERM_CODE = #{termCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="batchNo != null">
	  		, BATCH_NO = #{batchNo,jdbcType=CHAR}
	  	</if>
	  	<if test="termSerialNo != null">
	  		, TERM_SERIAL_NO = #{termSerialNo,jdbcType=CHAR}
	  	</if>
	  	<if test="termDate != null">
	  		, TERM_DATE = #{termDate,jdbcType=CHAR}
	  	</if>
	  	<if test="termTime != null">
	  		, TERM_TIME = #{termTime,jdbcType=CHAR}
	  	</if>
	  	<if test="origTermSerialNo != null">
	  		, ORIG_TERM_SERIAL_NO = #{origTermSerialNo,jdbcType=VARCHAR}
	  	</if>
	  	<if test="origTermDate != null">
	  		, ORIG_TERM_DATE = #{origTermDate,jdbcType=CHAR}
	  	</if>
	  	<if test="origTermTime != null">
	  		, ORIG_TERM_TIME = #{origTermTime,jdbcType=CHAR}
	  	</if>
	  	<if test="cardNo != null">
	  		, CARD_NO = #{cardNo,jdbcType=VARCHAR}
	  	</if>
	  	<if test="tranAmount != null">
	  		, TRAN_AMOUNT = #{tranAmount,jdbcType=DECIMAL}
	  	</if>
	  	<if test="writeFlag != null">
	  		, WRITE_FLAG = #{writeFlag,jdbcType=CHAR}
	  	</if>
	  	<if test="respCode != null">
	  		, RESP_CODE = #{respCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="returnCode != null">
	  		, RETURN_CODE = #{returnCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="returnDesc != null">
	  		, RETURN_DESC = #{returnDesc,jdbcType=VARCHAR}
	  	</if>
	  	<if test="maxRetryTimes != null">
	  		, MAX_RETRY_TIMES = #{maxRetryTimes,jdbcType=DECIMAL}
	  	</if>
	  	<if test="interval != null">
	  		, INTERVAL = #{interval,jdbcType=DECIMAL}
	  	</if>
	  	<if test="retryTimes != null">
	  		, RETRY_TIMES = #{retryTimes,jdbcType=DECIMAL}
	  	</if>
	  	<if test="succssFlag != null">
	  		, SUCCSS_FLAG = #{succssFlag,jdbcType=CHAR}
	  	</if>
	  	<if test="lastRetryTime != null">
	  		, LAST_RETRY_TIME = #{lastRetryTime,jdbcType=VARCHAR}
	  	</if>
	  	<if test="pbAsciiLen != null">
	  		, PB_ASCII_LEN = #{pbAsciiLen,jdbcType=DECIMAL}
	  	</if>
	  	<if test="pbAsciiStr != null">
	  		, PB_ASCII_STR = #{pbAsciiStr,jdbcType=VARCHAR}
	  	</if>
		WHERE SERIAL_NO = #{serialNo, jdbcType=DECIMAL}
  </update>

</mapper>