<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestpay.posp.system.dao.TMcmMerchantDao" >

  <resultMap id="BaseResultMap" type="com.bestpay.posp.system.entity.TMcmMerchant" >
	    <result column="MCT_ID" property="mctId" jdbcType="DECIMAL" />
	    <result column="MCT_CODE" property="mctCode" jdbcType="VARCHAR" />
	    <result column="MCT_NAME" property="mctName" jdbcType="VARCHAR" />
	    <result column="PARENT_MCTCODE" property="parentMctcode" jdbcType="VARCHAR" />
	    <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
	    <result column="MCT_CATEGORY" property="mctCategory" jdbcType="VARCHAR" />
	    <result column="MCT_TYPE" property="mctType" jdbcType="VARCHAR" />
	    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
	    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
	    <result column="DISTRICT" property="district" jdbcType="VARCHAR" />
	    <result column="EFF_DATE" property="effDate" jdbcType="TIMESTAMP" />
	    <result column="EXP_DATE" property="expDate" jdbcType="TIMESTAMP" />
	    <result column="PRTN_ADDR" property="prtnAddr" jdbcType="VARCHAR" />
	    <result column="AQR_BANK" property="aqrBank" jdbcType="VARCHAR" />
	    <result column="RATE" property="rate" jdbcType="DECIMAL" />
	    <result column="UPLMT_AMOUNT" property="uplmtAmount" jdbcType="DECIMAL" />
	    <result column="MOD_DATE" property="modDate" jdbcType="TIMESTAMP" />
	    <result column="MOD_STAFF" property="modStaff" jdbcType="VARCHAR" />
	    <result column="STAT" property="stat" jdbcType="CHAR" />
	    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
	    <result column="COST_RATE" property="costRate" jdbcType="DECIMAL" />
	    <result column="COST_UPLMTAMOUNT" property="costUplmtamount" jdbcType="DECIMAL" />
	    <result column="AQR_BANKACCTNAME" property="aqrBankacctname" jdbcType="VARCHAR" />
	    <result column="AQR_BANKACCT" property="aqrBankacct" jdbcType="VARCHAR" />
	    <result column="ACT_TYPE" property="actType" jdbcType="VARCHAR" />
	    <result column="AQR_ORG" property="aqrOrg" jdbcType="VARCHAR" />
	    <result column="MCT_LEVEL" property="mctLevel" jdbcType="VARCHAR" />
	    <result column="SUB_ACCOUNT" property="subAccount" jdbcType="VARCHAR" />
	    <result column="IS_SETTLEMENT" property="isSettlement" jdbcType="VARCHAR" />
	    <result column="STL_POINT" property="stlPoint" jdbcType="TIMESTAMP" />
	    <result column="STL_TYPE" property="stlType" jdbcType="VARCHAR" />
	    <result column="STL_SPLITLMONTH" property="stlSplitlmonth" jdbcType="VARCHAR" />
	    <result column="SUB_FILEFORMAT" property="subFileformat" jdbcType="VARCHAR" />
	    <result column="MERCHANT_COMP" property="merchantComp" jdbcType="VARCHAR" />
	    <result column="ACCOUNTPAYEE" property="accountpayee" jdbcType="VARCHAR" />
	    <result column="PAYEE_DATE" property="payeeDate" jdbcType="TIMESTAMP" />
	    <result column="IS_PROVINCE" property="isProvince" jdbcType="VARCHAR" />
	    <result column="TRANS_CONNTYPE" property="transConntype" jdbcType="VARCHAR" />
	    <result column="ALARM_AMOUNT_TRANS" property="alarmAmountTrans" jdbcType="DECIMAL" />
	    <result column="MAX_AMOUNT_TRANS" property="maxAmountTrans" jdbcType="DECIMAL" />
	    <result column="PEAK_AMOUNT_PERDAY" property="peakAmountPerday" jdbcType="DECIMAL" />
	    <result column="JOIN_WAY" property="joinWay" jdbcType="VARCHAR" />
	    <result column="SERV_AGENT" property="servAgent" jdbcType="VARCHAR" />
	    <result column="MIN_FREE" property="minFree" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
	MCT_ID,MCT_CODE,MCT_NAME,PARENT_MCTCODE,AREA_CODE,MCT_CATEGORY,MCT_TYPE,PROVINCE,CITY_NAME,DISTRICT,EFF_DATE,EXP_DATE,PRTN_ADDR,AQR_BANK,RATE,UPLMT_AMOUNT,MOD_DATE,MOD_STAFF,STAT,MEMO,COST_RATE,COST_UPLMTAMOUNT,AQR_BANKACCTNAME,AQR_BANKACCT,ACT_TYPE,AQR_ORG,MCT_LEVEL,SUB_ACCOUNT,IS_SETTLEMENT,STL_POINT,STL_TYPE,STL_SPLITLMONTH,SUB_FILEFORMAT,MERCHANT_COMP,ACCOUNTPAYEE,PAYEE_DATE,IS_PROVINCE,TRANS_CONNTYPE,ALARM_AMOUNT_TRANS,MAX_AMOUNT_TRANS,PEAK_AMOUNT_PERDAY,JOIN_WAY,SERV_AGENT,MIN_FREE
  </sql>
  
  <select id="findById" parameterType="java.lang.Long"  resultMap="BaseResultMap" >
  	  select 
  	  	<include refid="Base_Column_List"/>
  	  from T_MCM_MERCHANT where MCT_ID = #{id}
  </select>
  
  <select id="findByMctCode" parameterType="java.lang.String"  resultMap="BaseResultMap" >
  	  select 
  	  	<include refid="Base_Column_List"/>
  	  from T_MCM_MERCHANT where MCT_CODE = #{mctCode}
  </select>
  
  
  <select id="findUnique" parameterType="com.bestpay.posp.system.entity.TMcmMerchant" resultMap="BaseResultMap">
  		select 
  			<include refid="Base_Column_List"/>
  		from T_MCM_MERCHANT
  		where 1=1 
  		
  		<if test="mctId != null">
  			and MCT_ID = #{mctId}
  		</if>
  		<if test="mctCode != null">
  			and MCT_CODE = #{mctCode}
  		</if>
  		<if test="mctName != null">
  			and MCT_NAME = #{mctName}
  		</if>
  		<if test="parentMctcode != null">
  			and PARENT_MCTCODE = #{parentMctcode}
  		</if>
  		<if test="areaCode != null">
  			and AREA_CODE = #{areaCode}
  		</if>
  		<if test="mctCategory != null">
  			and MCT_CATEGORY = #{mctCategory}
  		</if>
  		<if test="mctType != null">
  			and MCT_TYPE = #{mctType}
  		</if>
  		<if test="province != null">
  			and PROVINCE = #{province}
  		</if>
  		<if test="cityName != null">
  			and CITY_NAME = #{cityName}
  		</if>
  		<if test="district != null">
  			and DISTRICT = #{district}
  		</if>
  		<if test="effDate != null">
  			and EFF_DATE = #{effDate}
  		</if>
  		<if test="expDate != null">
  			and EXP_DATE = #{expDate}
  		</if>
  		<if test="prtnAddr != null">
  			and PRTN_ADDR = #{prtnAddr}
  		</if>
  		<if test="aqrBank != null">
  			and AQR_BANK = #{aqrBank}
  		</if>
  		<if test="rate != null">
  			and RATE = #{rate}
  		</if>
  		<if test="uplmtAmount != null">
  			and UPLMT_AMOUNT = #{uplmtAmount}
  		</if>
  		<if test="modDate != null">
  			and MOD_DATE = #{modDate}
  		</if>
  		<if test="modStaff != null">
  			and MOD_STAFF = #{modStaff}
  		</if>
  		<if test="stat != null">
  			and STAT = #{stat}
  		</if>
  		<if test="memo != null">
  			and MEMO = #{memo}
  		</if>
  		<if test="costRate != null">
  			and COST_RATE = #{costRate}
  		</if>
  		<if test="costUplmtamount != null">
  			and COST_UPLMTAMOUNT = #{costUplmtamount}
  		</if>
  		<if test="aqrBankacctname != null">
  			and AQR_BANKACCTNAME = #{aqrBankacctname}
  		</if>
  		<if test="aqrBankacct != null">
  			and AQR_BANKACCT = #{aqrBankacct}
  		</if>
  		<if test="actType != null">
  			and ACT_TYPE = #{actType}
  		</if>
  		<if test="aqrOrg != null">
  			and AQR_ORG = #{aqrOrg}
  		</if>
  		<if test="mctLevel != null">
  			and MCT_LEVEL = #{mctLevel}
  		</if>
  		<if test="subAccount != null">
  			and SUB_ACCOUNT = #{subAccount}
  		</if>
  		<if test="isSettlement != null">
  			and IS_SETTLEMENT = #{isSettlement}
  		</if>
  		<if test="stlPoint != null">
  			and STL_POINT = #{stlPoint}
  		</if>
  		<if test="stlType != null">
  			and STL_TYPE = #{stlType}
  		</if>
  		<if test="stlSplitlmonth != null">
  			and STL_SPLITLMONTH = #{stlSplitlmonth}
  		</if>
  		<if test="subFileformat != null">
  			and SUB_FILEFORMAT = #{subFileformat}
  		</if>
  		<if test="merchantComp != null">
  			and MERCHANT_COMP = #{merchantComp}
  		</if>
  		<if test="accountpayee != null">
  			and ACCOUNTPAYEE = #{accountpayee}
  		</if>
  		<if test="payeeDate != null">
  			and PAYEE_DATE = #{payeeDate}
  		</if>
  		<if test="isProvince != null">
  			and IS_PROVINCE = #{isProvince}
  		</if>
  		<if test="transConntype != null">
  			and TRANS_CONNTYPE = #{transConntype}
  		</if>
  		<if test="alarmAmountTrans != null">
  			and ALARM_AMOUNT_TRANS = #{alarmAmountTrans}
  		</if>
  		<if test="maxAmountTrans != null">
  			and MAX_AMOUNT_TRANS = #{maxAmountTrans}
  		</if>
  		<if test="peakAmountPerday != null">
  			and PEAK_AMOUNT_PERDAY = #{peakAmountPerday}
  		</if>
  		<if test="joinWay != null">
  			and JOIN_WAY = #{joinWay}
  		</if>
  		<if test="servAgent != null">
  			and SERV_AGENT = #{servAgent}
  		</if>
  		<if test="minFree != null">
  			and MIN_FREE = #{minFree}
  		</if>

  </select>
  
  <select id="find" parameterType="com.bestpay.posp.system.entity.TMcmMerchant" resultMap="BaseResultMap">
  		select 
  			<include refid="Base_Column_List"/>
  		from T_MCM_MERCHANT
  		where 1=1 
  		<if test="mctId != null">
  			and MCT_ID = #{mctId}
  		</if>
  		<if test="mctCode != null">
  			and MCT_CODE = #{mctCode}
  		</if>
  		<if test="mctName != null">
  			and MCT_NAME = #{mctName}
  		</if>
  		<if test="parentMctcode != null">
  			and PARENT_MCTCODE = #{parentMctcode}
  		</if>
  		<if test="areaCode != null">
  			and AREA_CODE = #{areaCode}
  		</if>
  		<if test="mctCategory != null">
  			and MCT_CATEGORY = #{mctCategory}
  		</if>
  		<if test="mctType != null">
  			and MCT_TYPE = #{mctType}
  		</if>
  		<if test="province != null">
  			and PROVINCE = #{province}
  		</if>
  		<if test="cityName != null">
  			and CITY_NAME = #{cityName}
  		</if>
  		<if test="district != null">
  			and DISTRICT = #{district}
  		</if>
  		<if test="effDate != null">
  			and EFF_DATE = #{effDate}
  		</if>
  		<if test="expDate != null">
  			and EXP_DATE = #{expDate}
  		</if>
  		<if test="prtnAddr != null">
  			and PRTN_ADDR = #{prtnAddr}
  		</if>
  		<if test="aqrBank != null">
  			and AQR_BANK = #{aqrBank}
  		</if>
  		<if test="rate != null">
  			and RATE = #{rate}
  		</if>
  		<if test="uplmtAmount != null">
  			and UPLMT_AMOUNT = #{uplmtAmount}
  		</if>
  		<if test="modDate != null">
  			and MOD_DATE = #{modDate}
  		</if>
  		<if test="modStaff != null">
  			and MOD_STAFF = #{modStaff}
  		</if>
  		<if test="stat != null">
  			and STAT = #{stat}
  		</if>
  		<if test="memo != null">
  			and MEMO = #{memo}
  		</if>
  		<if test="costRate != null">
  			and COST_RATE = #{costRate}
  		</if>
  		<if test="costUplmtamount != null">
  			and COST_UPLMTAMOUNT = #{costUplmtamount}
  		</if>
  		<if test="aqrBankacctname != null">
  			and AQR_BANKACCTNAME = #{aqrBankacctname}
  		</if>
  		<if test="aqrBankacct != null">
  			and AQR_BANKACCT = #{aqrBankacct}
  		</if>
  		<if test="actType != null">
  			and ACT_TYPE = #{actType}
  		</if>
  		<if test="aqrOrg != null">
  			and AQR_ORG = #{aqrOrg}
  		</if>
  		<if test="mctLevel != null">
  			and MCT_LEVEL = #{mctLevel}
  		</if>
  		<if test="subAccount != null">
  			and SUB_ACCOUNT = #{subAccount}
  		</if>
  		<if test="isSettlement != null">
  			and IS_SETTLEMENT = #{isSettlement}
  		</if>
  		<if test="stlPoint != null">
  			and STL_POINT = #{stlPoint}
  		</if>
  		<if test="stlType != null">
  			and STL_TYPE = #{stlType}
  		</if>
  		<if test="stlSplitlmonth != null">
  			and STL_SPLITLMONTH = #{stlSplitlmonth}
  		</if>
  		<if test="subFileformat != null">
  			and SUB_FILEFORMAT = #{subFileformat}
  		</if>
  		<if test="merchantComp != null">
  			and MERCHANT_COMP = #{merchantComp}
  		</if>
  		<if test="accountpayee != null">
  			and ACCOUNTPAYEE = #{accountpayee}
  		</if>
  		<if test="payeeDate != null">
  			and PAYEE_DATE = #{payeeDate}
  		</if>
  		<if test="isProvince != null">
  			and IS_PROVINCE = #{isProvince}
  		</if>
  		<if test="transConntype != null">
  			and TRANS_CONNTYPE = #{transConntype}
  		</if>
  		<if test="alarmAmountTrans != null">
  			and ALARM_AMOUNT_TRANS = #{alarmAmountTrans}
  		</if>
  		<if test="maxAmountTrans != null">
  			and MAX_AMOUNT_TRANS = #{maxAmountTrans}
  		</if>
  		<if test="peakAmountPerday != null">
  			and PEAK_AMOUNT_PERDAY = #{peakAmountPerday}
  		</if>
  		<if test="joinWay != null">
  			and JOIN_WAY = #{joinWay}
  		</if>
	  	<if test="servAgent != null">
		  	and SERV_AGENT = #{servAgent}
	  	</if>
	  	<if test="minFree != null">
		  	and MIN_FREE = #{minFree}
	  	</if>
  </select>
  
  <select id="findAll" parameterType="com.bestpay.posp.system.entity.TMcmMerchant" resultMap="BaseResultMap">
  		select 
  			<include refid="Base_Column_List"/>
  		from T_MCM_MERCHANT
  </select>
  
  <select id="countBy" parameterType="com.bestpay.posp.system.entity.TMcmMerchant" resultType="java.lang.Integer">
  		select 
  			count(*)
  		from T_MCM_MERCHANT
  		where 1=1 
  		<if test="mctId != null">
  			and MCT_ID = #{mctId}
  		</if>
  		<if test="mctCode != null">
  			and MCT_CODE = #{mctCode}
  		</if>
  		<if test="mctName != null">
  			and MCT_NAME = #{mctName}
  		</if>
  		<if test="parentMctcode != null">
  			and PARENT_MCTCODE = #{parentMctcode}
  		</if>
  		<if test="areaCode != null">
  			and AREA_CODE = #{areaCode}
  		</if>
  		<if test="mctCategory != null">
  			and MCT_CATEGORY = #{mctCategory}
  		</if>
  		<if test="mctType != null">
  			and MCT_TYPE = #{mctType}
  		</if>
  		<if test="province != null">
  			and PROVINCE = #{province}
  		</if>
  		<if test="cityName != null">
  			and CITY_NAME = #{cityName}
  		</if>
  		<if test="district != null">
  			and DISTRICT = #{district}
  		</if>
  		<if test="effDate != null">
  			and EFF_DATE = #{effDate}
  		</if>
  		<if test="expDate != null">
  			and EXP_DATE = #{expDate}
  		</if>
  		<if test="prtnAddr != null">
  			and PRTN_ADDR = #{prtnAddr}
  		</if>
  		<if test="aqrBank != null">
  			and AQR_BANK = #{aqrBank}
  		</if>
  		<if test="rate != null">
  			and RATE = #{rate}
  		</if>
  		<if test="uplmtAmount != null">
  			and UPLMT_AMOUNT = #{uplmtAmount}
  		</if>
  		<if test="modDate != null">
  			and MOD_DATE = #{modDate}
  		</if>
  		<if test="modStaff != null">
  			and MOD_STAFF = #{modStaff}
  		</if>
  		<if test="stat != null">
  			and STAT = #{stat}
  		</if>
  		<if test="memo != null">
  			and MEMO = #{memo}
  		</if>
  		<if test="costRate != null">
  			and COST_RATE = #{costRate}
  		</if>
  		<if test="costUplmtamount != null">
  			and COST_UPLMTAMOUNT = #{costUplmtamount}
  		</if>
  		<if test="aqrBankacctname != null">
  			and AQR_BANKACCTNAME = #{aqrBankacctname}
  		</if>
  		<if test="aqrBankacct != null">
  			and AQR_BANKACCT = #{aqrBankacct}
  		</if>
  		<if test="actType != null">
  			and ACT_TYPE = #{actType}
  		</if>
  		<if test="aqrOrg != null">
  			and AQR_ORG = #{aqrOrg}
  		</if>
  		<if test="mctLevel != null">
  			and MCT_LEVEL = #{mctLevel}
  		</if>
  		<if test="subAccount != null">
  			and SUB_ACCOUNT = #{subAccount}
  		</if>
  		<if test="isSettlement != null">
  			and IS_SETTLEMENT = #{isSettlement}
  		</if>
  		<if test="stlPoint != null">
  			and STL_POINT = #{stlPoint}
  		</if>
  		<if test="stlType != null">
  			and STL_TYPE = #{stlType}
  		</if>
  		<if test="stlSplitlmonth != null">
  			and STL_SPLITLMONTH = #{stlSplitlmonth}
  		</if>
  		<if test="subFileformat != null">
  			and SUB_FILEFORMAT = #{subFileformat}
  		</if>
  		<if test="merchantComp != null">
  			and MERCHANT_COMP = #{merchantComp}
  		</if>
  		<if test="accountpayee != null">
  			and ACCOUNTPAYEE = #{accountpayee}
  		</if>
  		<if test="payeeDate != null">
  			and PAYEE_DATE = #{payeeDate}
  		</if>
  		<if test="isProvince != null">
  			and IS_PROVINCE = #{isProvince}
  		</if>
  		<if test="transConntype != null">
  			and TRANS_CONNTYPE = #{transConntype}
  		</if>
  		<if test="alarmAmountTrans != null">
  			and ALARM_AMOUNT_TRANS = #{alarmAmountTrans}
  		</if>
  		<if test="maxAmountTrans != null">
  			and MAX_AMOUNT_TRANS = #{maxAmountTrans}
  		</if>
  		<if test="peakAmountPerday != null">
  			and PEAK_AMOUNT_PERDAY = #{peakAmountPerday}
  		</if>
  		<if test="joinWay != null">
  			and JOIN_WAY = #{joinWay}
  		</if>
	  	<if test="servAgent != null">
		 	and SERV_AGENT = #{servAgent}
		</if>
	  	<if test="minFree != null">
		  	and MIN_FREE = #{minFree}
	  	</if>
  </select>
  
  <insert id="insert" parameterType="com.bestpay.posp.system.entity.TMcmMerchant">
	 INSERT INTO T_MCM_MERCHANT
	   (MCT_ID,MCT_CODE,MCT_NAME,PARENT_MCTCODE,AREA_CODE,MCT_CATEGORY,MCT_TYPE,PROVINCE,CITY_NAME,DISTRICT,EFF_DATE,EXP_DATE,PRTN_ADDR,AQR_BANK,RATE,UPLMT_AMOUNT,MOD_DATE,MOD_STAFF,STAT,MEMO,COST_RATE,COST_UPLMTAMOUNT,AQR_BANKACCTNAME,AQR_BANKACCT,ACT_TYPE,AQR_ORG,MCT_LEVEL,SUB_ACCOUNT,IS_SETTLEMENT,STL_POINT,STL_TYPE,STL_SPLITLMONTH,SUB_FILEFORMAT,MERCHANT_COMP,ACCOUNTPAYEE,PAYEE_DATE,IS_PROVINCE,TRANS_CONNTYPE,ALARM_AMOUNT_TRANS,MAX_AMOUNT_TRANS,PEAK_AMOUNT_PERDAY,JOIN_WAY,SERV_AGENT,MIN_FREE)
     VALUES (
	    #{mctId,jdbcType=DECIMAL},
	    #{mctCode,jdbcType=VARCHAR},
	    #{mctName,jdbcType=VARCHAR},
	    #{parentMctcode,jdbcType=VARCHAR},
	    #{areaCode,jdbcType=VARCHAR},
	    #{mctCategory,jdbcType=VARCHAR},
	    #{mctType,jdbcType=VARCHAR},
	    #{province,jdbcType=VARCHAR},
	    #{cityName,jdbcType=VARCHAR},
	    #{district,jdbcType=VARCHAR},
	    #{effDate,jdbcType=TIMESTAMP},
	    #{expDate,jdbcType=TIMESTAMP},
	    #{prtnAddr,jdbcType=VARCHAR},
	    #{aqrBank,jdbcType=VARCHAR},
	    #{rate,jdbcType=DECIMAL},
	    #{uplmtAmount,jdbcType=DECIMAL},
	    #{modDate,jdbcType=TIMESTAMP},
	    #{modStaff,jdbcType=VARCHAR},
	    #{stat,jdbcType=CHAR},
	    #{memo,jdbcType=VARCHAR},
	    #{costRate,jdbcType=DECIMAL},
	    #{costUplmtamount,jdbcType=DECIMAL},
	    #{aqrBankacctname,jdbcType=VARCHAR},
	    #{aqrBankacct,jdbcType=VARCHAR},
	    #{actType,jdbcType=VARCHAR},
	    #{aqrOrg,jdbcType=VARCHAR},
	    #{mctLevel,jdbcType=VARCHAR},
	    #{subAccount,jdbcType=VARCHAR},
	    #{isSettlement,jdbcType=VARCHAR},
	    #{stlPoint,jdbcType=TIMESTAMP},
	    #{stlType,jdbcType=VARCHAR},
	    #{stlSplitlmonth,jdbcType=VARCHAR},
	    #{subFileformat,jdbcType=VARCHAR},
	    #{merchantComp,jdbcType=VARCHAR},
	    #{accountpayee,jdbcType=VARCHAR},
	    #{payeeDate,jdbcType=TIMESTAMP},
	    #{isProvince,jdbcType=VARCHAR},
	    #{transConntype,jdbcType=VARCHAR},
	    #{alarmAmountTrans,jdbcType=DECIMAL},
	    #{maxAmountTrans,jdbcType=DECIMAL},
	    #{peakAmountPerday,jdbcType=DECIMAL},
	    #{joinWay,jdbcType=VARCHAR},
	    #{servAgent,jdbcType=VARCHAR},
	    #{minFree,jdbcType=VARCHAR}
     )
  </insert>
  
  <update id="update" parameterType="com.bestpay.posp.system.entity.TMcmMerchant">
	UPDATE T_MCM_MERCHANT SET
	  	<if test="mctId != null">
	  		 MCT_ID = #{mctId,jdbcType=DECIMAL}
	  	</if>
	  	<if test="mctCode != null">
	  		, MCT_CODE = #{mctCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="mctName != null">
	  		, MCT_NAME = #{mctName,jdbcType=VARCHAR}
	  	</if>
	  	<if test="parentMctcode != null">
	  		, PARENT_MCTCODE = #{parentMctcode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="areaCode != null">
	  		, AREA_CODE = #{areaCode,jdbcType=VARCHAR}
	  	</if>
	  	<if test="mctCategory != null">
	  		, MCT_CATEGORY = #{mctCategory,jdbcType=VARCHAR}
	  	</if>
	  	<if test="mctType != null">
	  		, MCT_TYPE = #{mctType,jdbcType=VARCHAR}
	  	</if>
	  	<if test="province != null">
	  		, PROVINCE = #{province,jdbcType=VARCHAR}
	  	</if>
	  	<if test="cityName != null">
	  		, CITY_NAME = #{cityName,jdbcType=VARCHAR}
	  	</if>
	  	<if test="district != null">
	  		, DISTRICT = #{district,jdbcType=VARCHAR}
	  	</if>
	  	<if test="effDate != null">
	  		, EFF_DATE = #{effDate,jdbcType=TIMESTAMP}
	  	</if>
	  	<if test="expDate != null">
	  		, EXP_DATE = #{expDate,jdbcType=TIMESTAMP}
	  	</if>
	  	<if test="prtnAddr != null">
	  		, PRTN_ADDR = #{prtnAddr,jdbcType=VARCHAR}
	  	</if>
	  	<if test="aqrBank != null">
	  		, AQR_BANK = #{aqrBank,jdbcType=VARCHAR}
	  	</if>
	  	<if test="rate != null">
	  		, RATE = #{rate,jdbcType=DECIMAL}
	  	</if>
	  	<if test="uplmtAmount != null">
	  		, UPLMT_AMOUNT = #{uplmtAmount,jdbcType=DECIMAL}
	  	</if>
	  	<if test="modDate != null">
	  		, MOD_DATE = #{modDate,jdbcType=TIMESTAMP}
	  	</if>
	  	<if test="modStaff != null">
	  		, MOD_STAFF = #{modStaff,jdbcType=VARCHAR}
	  	</if>
	  	<if test="stat != null">
	  		, STAT = #{stat,jdbcType=CHAR}
	  	</if>
	  	<if test="memo != null">
	  		, MEMO = #{memo,jdbcType=VARCHAR}
	  	</if>
	  	<if test="costRate != null">
	  		, COST_RATE = #{costRate,jdbcType=DECIMAL}
	  	</if>
	  	<if test="costUplmtamount != null">
	  		, COST_UPLMTAMOUNT = #{costUplmtamount,jdbcType=DECIMAL}
	  	</if>
	  	<if test="aqrBankacctname != null">
	  		, AQR_BANKACCTNAME = #{aqrBankacctname,jdbcType=VARCHAR}
	  	</if>
	  	<if test="aqrBankacct != null">
	  		, AQR_BANKACCT = #{aqrBankacct,jdbcType=VARCHAR}
	  	</if>
	  	<if test="actType != null">
	  		, ACT_TYPE = #{actType,jdbcType=VARCHAR}
	  	</if>
	  	<if test="aqrOrg != null">
	  		, AQR_ORG = #{aqrOrg,jdbcType=VARCHAR}
	  	</if>
	  	<if test="mctLevel != null">
	  		, MCT_LEVEL = #{mctLevel,jdbcType=VARCHAR}
	  	</if>
	  	<if test="subAccount != null">
	  		, SUB_ACCOUNT = #{subAccount,jdbcType=VARCHAR}
	  	</if>
	  	<if test="isSettlement != null">
	  		, IS_SETTLEMENT = #{isSettlement,jdbcType=VARCHAR}
	  	</if>
	  	<if test="stlPoint != null">
	  		, STL_POINT = #{stlPoint,jdbcType=TIMESTAMP}
	  	</if>
	  	<if test="stlType != null">
	  		, STL_TYPE = #{stlType,jdbcType=VARCHAR}
	  	</if>
	  	<if test="stlSplitlmonth != null">
	  		, STL_SPLITLMONTH = #{stlSplitlmonth,jdbcType=VARCHAR}
	  	</if>
	  	<if test="subFileformat != null">
	  		, SUB_FILEFORMAT = #{subFileformat,jdbcType=VARCHAR}
	  	</if>
	  	<if test="merchantComp != null">
	  		, MERCHANT_COMP = #{merchantComp,jdbcType=VARCHAR}
	  	</if>
	  	<if test="accountpayee != null">
	  		, ACCOUNTPAYEE = #{accountpayee,jdbcType=VARCHAR}
	  	</if>
	  	<if test="payeeDate != null">
	  		, PAYEE_DATE = #{payeeDate,jdbcType=TIMESTAMP}
	  	</if>
	  	<if test="isProvince != null">
	  		, IS_PROVINCE = #{isProvince,jdbcType=VARCHAR}
	  	</if>
	  	<if test="transConntype != null">
	  		, TRANS_CONNTYPE = #{transConntype,jdbcType=VARCHAR}
	  	</if>
	  	<if test="alarmAmountTrans != null">
	  		, ALARM_AMOUNT_TRANS = #{alarmAmountTrans,jdbcType=DECIMAL}
	  	</if>
	  	<if test="maxAmountTrans != null">
	  		, MAX_AMOUNT_TRANS = #{maxAmountTrans,jdbcType=DECIMAL}
	  	</if>
	  	<if test="peakAmountPerday != null">
	  		, PEAK_AMOUNT_PERDAY = #{peakAmountPerday,jdbcType=DECIMAL}
	  	</if>
	  	<if test="joinWay != null">
	  		, JOIN_WAY = #{joinWay,jdbcType=VARCHAR}
	  	</if>
	  	<if test="servAgent != null">
	  		, SERV_AGENT = #{servAgent,jdbcType=VARCHAR}
	  	</if>
	  	<if test="minFree != null">
	  		, MIN_FREE = #{minFree,jdbcType=VARCHAR}
	  	</if>
		WHERE MCT_ID = #{mctId, jdbcType=DECIMAL}
  </update>

</mapper>